.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .payment-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .payment-button:hover {
    background-color: rgb(34, 34, 34);
  }
  